[Desktop Entry]
Name=Cue
Comment=Write notes and turn them into reminders
Exec=cue
Icon=io.github.wuzi.Cue
Terminal=false
Type=Application
Categories=Utility;GTK;
Keywords=Reminder;Alarm;Note;Scratchpad;Notification;
DBusActivatable=true
StartupNotify=true
X-GNOME-UsesNotifications=true
X-GNOME-Gettext-Domain=cue
